.description {
  font-size: 1.3rem;
  color: var(--active-tab-color);
}

.event-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 2em;

  .save-event-btn {
    background: none;
    padding: .5em 1.25em;
    border: var(--active-tab-color) 2px solid;
    border-radius: .7rem;
    color: var(--primary-contrast-color);
  }

  .save-event-btn:hover {
    cursor: pointer;
    color: var(--hover-tab-color);
  }
}


.info-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 1em;
}

.info-details .list-leader {
  flex-basis: 230px;
  flex-shrink: 0;
}

@media (max-width: 680px) {
  .info-details {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 1em;
    overflow-wrap: anywhere;

    .list-leader {
      flex-basis: 0;
    }
  }
}
