:root {
  --active-tab-color: rgb(229, 221, 173);
  --hover-tab-color: rgb(236, 218, 119);
  --primary-contrast-color: rgb(249, 249, 249);
  --primary-dark-color: rgb(18, 18, 18);
  --primary-dark-tranparent: 18, 18, 18;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-contrast-color);
  letter-spacing: 1px;
}

.app {
  max-width: 1440px;
  margin: auto auto;
  padding: 0 2em
}

body {
  background: url(../../../public/images/main-background.jpg) var(--primary-dark-color);
  background-size: cover;
  background-position: fixed;
}

.icons {
  filter: invert(99%) sepia(1%) saturate(7360%) hue-rotate(58deg) brightness(134%) contrast(95%);
}

.loading {
  border: 8px solid var(--active-tab-color); 
  border-top: 8px solid var(--primary-dark-color); 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 0.5s linear infinite;
}

.loading-container {
  min-width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 420px) {
  .app {
    padding: 0 0.8em
  }
}