.general-container {
  max-width: 960px;
  padding: 2em 3em 2em;
  background: rgba(var(--primary-dark-tranparent), .8);
  border-radius: 2rem;
  margin: auto;

  .image-of-day {
    width: 100%;
    margin: 3em auto;
  }

  .image-of-day-description {
    font-size: 1.1rem;
    line-height: 1.25;
  }
}

@media (max-width: 750px) {
  .general-container {
     .image-of-day {
      margin: 1em auto;
    }
  }
}

@media (max-width: 575px) {
  .general-container {
    padding: 1em;
    border-radius: 1rem;
  }
}

@media (max-height: 640px) and (orientation: landscape) {
  .general-container {
    .image-of-day {
      height: 80vh;
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
}